<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form class="" action="addpost" method="post">
      <input type="text" name="word" value="">
      <input type="text" name="sinhalaMeaning" value="">
      <input type="text" name="englishMeaning" value="">
      <textarea name="sinhalaExample" rows="8" cols="80"></textarea>
      <textarea name="englishExample" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="Add Post">
    </form>
  </body>
</html>
